{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'tournaments/images/favicon.ico' %}">
    <title>{{ title|default:"non titled" }}</title>
    <link type="text/css" href="{% static 'tournaments/css/style.css' %}" rel="stylesheet">
</head>
<header>
    <div class="content">
        <div class="header-wrapper">
            <div class="header-logo">
                <a class="header-logo_a" href="#"><img class="header-logo_img" src="{% static 'tournaments/images/logo_hq.svg' %}"></a>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <div class="content">
        <h1>This это is header1!</h1>
        <h2>This это is header2!</h2>
        <h3>This \то is header3!</h3>
        <h4>This is header4!</h4>
        <h5>This is header5!</h5>
        <h6>This is header6!</h6>
        <p>This is regular paragraph!</p>
        <a>This is link</a>
        <button>Test button</button>
    </div>
</footer>
</html>