{% extends "base.html" %}

{% block content %} <!-- start block content -->
{% include "tournaments/includes/announcement.html" %} <!-- include to annoncement -->

<div class="campus center-wrapper"> 
    <h2 class="">{{ re_str|upper }}</h2> <!-- header with name of campus -->
</div>
<!-- here need insert tournament' info-->
<div class="campus-tribe tribe">
    <div class="tribe-name">
        <a href="#">
            <h3 class="tribe-name_title">Terra</h3>
        </a>
        <div>
            <h5>301</h5>
            <p>capacity</p>
        </div>
        <div>
            <p>master</p>
            <h4>Name Second</h4>
        </div>
        <div>
            <h5>300</h5>
            <p>tribe points</p>

        </div>
    </div>
    <ul class="tribe-peers">
        <li class="tribe-peers_item">
            <div>
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>1</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>30</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
    </ul>
</div>
<div class="campus-tribe tribe">
    <div>
        <h3 class="tribe-name_title">Ignis</h3>
    </div>
    <ul class="tribe-peers">
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
    </ul>
</div>
<div class="campus-tribe tribe">
    <div>
        <h3 class="tribe-name_title">Aer</h3>
    </div>
    <ul class="tribe-peers">
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
    </ul>
</div>
<div class="campus-tribe tribe">
    <div>
        <h3 class="tribe-name_title">Aqua</h3>
    </div>
    <ul class="tribe-peers">
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item">
            <div>
                <h4>10</h4>
                <span>place</span>
            </div>
            <h4>jenniff</h4>
            <div>
                <h6>9</h6>
                <p>level</p>
            </div>
            <div>
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div>
                <h5>300</h5>
                <p>tribe points</p>

            </div>
        </li>
    </ul>
</div>




{% endblock %} <!-- end block content   -->