{% extends "base.html" %}

{% block content %} <!-- start block content -->
{% include "tournaments/includes/announcement.html" %} <!-- include to annoncement -->

<div class="campus center-wrapper"> 
    <h2 class="">{{ re_str|upper }}</h2> <!-- header with name of campus -->
</div>
<!-- here need insert tournament' info-->
<div class="campus-tribes">
    <div class="tribe-info" onclick="toggleBlock(event)">
        <a href="#" class="tribe-info_title">
            <h3 class="tribe-name_title">Terra</h3>
        </a>
        <div class="tribe-info_capacity">
            <h5>301</h5>
            <p>peers</p>
        </div>
        <div class="tribe-info_master">
            <p>master:</p>
            <h4>Name Second</h4>
        </div>
        <div class="tribe-info_points">
            <h5>30000</h5>
            <p>total tribe points</p>
        </div>
    </div>
    <ul class="tribe-peers">
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">testinglonglong</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>1</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">jenniff</h4>
            <div class="tribe-peer_level">
                <h6>10</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>9999</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>1234</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>12</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>3</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>14</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">short</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>1</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>24_04</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>1</h5>
                <p>tribe points</p>
            </div>
        </li>
    </ul>


    <div class="tribe-info" onclick="toggleBlock(event)">
        <a href="#" class="tribe-info_title">
            <h3 class="tribe-name_title">Terra</h3>
        </a>
        <div class="tribe-info_capacity">
            <h5>301</h5>
            <p>peers</p>
        </div>
        <div class="tribe-info_master">
            <p>master:</p>
            <h4>Name Second</h4>
        </div>
        <div class="tribe-info_points">
            <h5>30000</h5>
            <p>total tribe points</p>
        </div>
    </div>
    <ul id="hide_me" class="tribe-peers __hidden">
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">testinglonglong</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>1</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">jenniff</h4>
            <div class="tribe-peer_level">
                <h6>10</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>9999</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>1234</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>12</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>3</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>14</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">short</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>1</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>24_04</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>1</h5>
                <p>tribe points</p>
            </div>
        </li>
    </ul>


    <div class="tribe-info" onclick="toggleBlock(event)">
        <a href="#" class="tribe-info_title">
            <h3 class="tribe-name_title">Terra</h3>
        </a>
        <div class="tribe-info_capacity">
            <h5>301</h5>
            <p>peers</p>
        </div>
        <div class="tribe-info_master">
            <p>master:</p>
            <h4>Name Second</h4>
        </div>
        <div class="tribe-info_points">
            <h5>30000</h5>
            <p>total tribe points</p>
        </div>
    </div>
    <ul class="tribe-peers __hidden">
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">testinglonglong</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>1</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">jenniff</h4>
            <div class="tribe-peer_level">
                <h6>10</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>9999</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>1234</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>12</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>3</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>14</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">short</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>1</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>24_04</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>1</h5>
                <p>tribe points</p>
            </div>
        </li>
    </ul>


    <div class="tribe-info" onclick="toggleBlock(event)">
        <a href="#" class="tribe-info_title">
            <h3 class="tribe-name_title">Terra</h3>
        </a>
        <div class="tribe-info_capacity">
            <h5>301</h5>
            <p>peers</p>
        </div>
        <div class="tribe-info_master">
            <p>master:</p>
            <h4>Name Second</h4>
        </div>
        <div class="tribe-info_points">
            <h5>30000</h5>
            <p>total tribe points</p>
        </div>
    </div>
    <ul class="tribe-peers __hidden">
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">testinglonglong</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>1</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">jenniff</h4>
            <div class="tribe-peer_level">
                <h6>10</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>KZN_23_10</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>9999</h5>
                <p>tribe points</p>

            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>1234</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>12</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>3</h5>
                <p>tribe points</p>
            </div>
        </li>        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>14</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">short</h4>
            <div class="tribe-peer_level">
                <h6>9</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>23</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>300</h5>
                <p>tribe points</p>
            </div>
        </li>
        <li class="tribe-peers_item tribe-peer">
            <div class="tribe-peer_place">
                <h4>300</h4>
                <span>place</span>
            </div>
            <h4 class="tribe-peer_nickname">noname</h4>
            <div class="tribe-peer_level">
                <h6>1</h6>
                <p>level</p>
            </div>
            <div class="tribe-peer_wave">
                <h6>24_04</h6>
                <p>wave</p>
            </div>
            <div class="tribe-peer_points">
                <h5>1</h5>
                <p>tribe points</p>
            </div>
        </li>
    </ul>
</div>





{% endblock %} <!-- end block content   -->